.calculator-container {
    background-color: var(--calculator-background-color);
    height: var(--calculator-height);
    width: var(--calculator-width);
  }


.calculator-header {
  font-family: var(--main-font);
  color: var(--display-header-color);
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
}