/*
app variables
*/

:root {
  /* background colors */
  --action-key-color: #ffffff;
  --action-key-color-hover: #ffffff;
  --calculator-background-color: #ffffff;
  --display-background-color: #ffffff;
  --number-key-color: #ffffff;
  --number-key-color-hover: #ffffff;
  --submit-key-color: #ffffff;
  --submit-key-color-hover: #ffffff;

  /* font */
  --main-font: 'Finger Paint', cursive;

  /* font colors */
  --display-header-color: #077e19;
  --display-text-color: #000000;
  --key-text-color: #7d0606;

  /* font sizes */
  --display-text-size: 4em;
  --key-text-size: 3em;

  /* font weights */
  --display-text-weight: 400;
  --key-text-weight: 700;

  /* calculator dimensions */
  --calculator-height: 72%;
  --calculator-width: 36%;

  /* display dimensions */
  --display-height: 24%;
  --display-width: 92%;

  /* keypad dimensions */
  --keypad-height: 72%;
  --keypad-width: 96%;
}

/*
media query for tablet or smaller screen
*/

@media screen and (max-width: 1024px) {
  :root {
    /* font sizes */
    --display-text-size: 10em;
    --key-text-size: 6em;

    /* calculator dimensions */
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

/*
app CSS reset
*/

body, div, p {
  margin: 0;
  padding: 0;
}